
        <main>
            <h1>Rubiks Cube</h1>
            <img class="cube" src="https://images-na.ssl-images-amazon.com/images/I/71WS9kb-JFL._SL1300_.jpg">
            <div class="details">
                <p><span>Description:</span>Some Description....</p>
                <p><span>Difficulty level:</span> 6</p>
                <a class="btn" href="#">Back</a>
            </div>
            
        </main>
    </div>
    <footer>@Cubicle: Exercise for Express.js and Handlebars</footer>
</body>

</html>